
{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}


<body action="/about" method="POST">
    
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading"> About me. <span class="text-muted">
                        </span></h2>
                <p class="lead">Hello, My name is Gaurav Kumar Mishr. I am 21 years Old. I  belongs to Bihar. I have done my Schooling in Bihar
                which is High School Kahua.In this time, i Love mathematics.In math, i always score avobe 90. My Intrest, Playing game and reading books.
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    src="https://images.static-collegedunia.com/public/college_data/images/campusimage/1548919705campus1.jpg" class="img-fluid" alt="">

            </div>
        </div>

    </div><br>
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Now I am. <span class="text-muted">
                        </span></h2>
                <p class="lead">After MY Schooling, I think that i want to beacome a Engineer. Than move to Maharastra. Now i am presuing B.Tech in computer 
                Science in D.Y Patil international uiversity Akurdi Pune.I am a python programmer. Now My Intrests, doing coding and research on
                Artificial Intteligance and Machine Learning. I have done lot of project in Machine Learning. I have done 
                lot of fream Work Like  Django and Flask in pyhon .</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    src="https://live.staticflickr.com/1816/30212411048_2a1d7200e2_b.jpg" class="img-fluid" alt="">

            </div>
        </div>

    </div><br>
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">In Future. <span class="text-muted">
                        </span></h2>
                <p class="lead">In Future i want to move on USA. Because I want to Done my Ph.d from USA. That is my last goal</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
                    src="https://th.bing.com/th/id/OIP.lHDiQsUqp96QB-nHaof6rAHaE7?w=288&h=192&c=7&r=0&o=5&dpr=1.25&pid=1.7" class="img-fluid" alt="">

            </div>
        </div>

    </div>
    <p>© 2020-2021 Gaurav Technicalprogramm , Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

{% endblock body %}
